<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Registro</title>
</head>

<body>
    <header>
        <div class="tope">
            <div class="logoybuscador">
                <figure class="logo">
                    <img src="images/logo-mercado-liebre.svg">
                </figure>

                <form action="../../form-result.php" method="post" target="_blank" class="searchbar">
                    <p>
                        <input type="search" name="busquedaproducto" placeholder="Buscar productos, marcas...">
                        <button class="search-button">
                            <i class="fa fa-search search-icon"></i>
                        </button>
                    </p>
                </form>
            </div>

            <p id="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>

        </div>

        <nav class="navbar">
            <div class="oferta">
                <ul>
                    <li> <a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </div>

            <div class="login">
                <ul>
                    <li> <a href="">Crea tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
                    <li> <a href="">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li> <a href="">Mis compras </a> <i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
        </nav>


        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main class="formregis">
        <form action="/register.html" method="POST">
            <p>
                <label for="nombreyapellido">Nombre y apellido:</label>
                <input type="text" name="nombreyapellido" id="nombreyapellido">
            </p>

            <p>
                <label for="nombreusuario">Nombre de usuario</label>
                <input type="text" name="nombreusuario" id="nombreusuario">
            </p>

            <p>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">
            </p>

            <p>
                <label for="birthdate">Fecha de nacimiento</label>
                <input type="date" name="fechanacimiento" id="birthdate">
            </p>

            <p>
                <label for="domicilio">Domicilio</label>
                <input type="text" name="domicilio" id="domicilio">
            </p>

            <p>
                <label for="perfilu">Perfil de usuario</label>
            <ul>
                <li>Comprar: <input type="radio" name="perfilu" value="Comprar"></li>
                <li>Vender: <input type="radio" name="perfilu" value="Vender"></li>
            </ul>
            </p>

            <p>
                <label>Categoríasas de interés</label>
            <ul>
                <li>Electro: <input type="checkbox" name="intereses" value="electro" checked></li>
                <li>Moda: <input type="checkbox" name="intereses" value="moda"></li>
                <li>Hogar: <input type="checkbox" name="intereses" value="hogar"></li>
                <li>Juguetería: <input type="checkbox" name="intereses" value="jugueteria"></li>
                <li>Vida sana: <input type="checkbox" name="intereses" value="vidasana"></li>
            </ul>
            </p>

            <p>
                <label>Selecciona una foto para tu usuario</label>
                <input type="file" name="avatar" accept=".jpg">
            </p>

            <p>
                <label>Contraseña:</label>
                <input type="password" name="password">
            </p>

            <p>
                <label>Confirmar contraseña: </label>
                <input type="password" name="passwor">
            </p>

            <p>
                <input type="submit" value="Enviar"></input>
            </p>
            <p>
                <button type="reset">Reiniciar</button>
            </p>
        </form>

    </main>


    <footer>
        <i class="fa-solid fa-credit-card"></i>
        </div>

        </br>
        <b>Pagá con tarjeta o en efectivo</b>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        <i class="fa-solid fa-gift"></i>
        </br>
        <b>Envío gratis desde $ 2.500</b>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

        <i class="fa-solid fa-user-shield"></i>
        </br>
        <b>Seguridad, de principio a fin</b>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>


</body>

</html>